body{
    background:#f9e933;
    font-size: 100%;
    font-family: Droid Sans;
}

h1, h2, h3, h5{
    font-family: Ubuntu;
}

a{
    font-size: 100%;
    font-weight: bold;
    color: red;
    text-decoration:none;
    font-family: Ubuntu;
}

a:hover{
    color: indigo;
}

header h1{
    font-size: 270%;
}

header,main,footer{
    min-width: 855px;
}

header .container,main .container,footer .container{
    max-width: 855px;
    margin: auto;
}

header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
    margin-top: 14px;
}

header {
    background: white;
    overflow: auto;
    padding: 10px 0 10px 0;
    border-bottom: lime 2px solid;
}

main h2{
    font-size: 160%;
    margin: 12px 0 12px 0;
}

main h3{
    font-size: 140%;
    margin: 20px 0 12px 0;
}

main ul{
	list-style: circle;
	list-style-position: inside;
}

main {
    background: white;
    overflow: auto;
    padding: 20px 0 20px 0;
}

main .main-info{
    float: left;
    width: 570px;
}

main .logo{
    float: right;
    width: 285px;
}

main img{
    margin-left: 30px;
}


main .delete{
    float: right;
    padding-right: 10px;
}

footer{
    overflow: auto;
    padding: 17px 0 12px 0;
}

footer .contact{
    float: left;
    width: 570px;
}

footer .sitemap{
    float: right;
    width: 285px;
}

footer h5{
    font-size: 120%;
    margin-bottom: 10px;
}